# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Outputs
outputs/

# Data
data/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Google Colab
/content/

# Environment Variables
.env
